<div class="fun">

  <h1 style="text-align:center;
  color:orange;">
  LET'S HAVE SOME FUN!!
</h1>
<aside>
  <h3>Life </h3>

</aside>
<div class="container">
  <hr>
  <div class="row">
    <div class="col m3.5">
      <%= image_tag("orlando.jpg", :width => 350, :height => 450,)  %>

    </div>

    <div class="col s6">
      <p>NOVEMBER 4, 2016</p>
      <p style="font-size:18px;">
        Having the Orlando youth assembly with us was extremely a blessing. Words can’t really describe how much they blessed us in the service. The song they sang , they words the shared with God’s people was amazing. 
        
        We  all felt the  presence of the Lord was in the room.They were excited to be with us, we were encouraged by them. Their testimonies was living testimonies, you could see how much  the Love the lord, and how they seeking for the Lord. That allow us to know that we are not alone in this race; we all are fighting the good to make it. .</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col s9">
        <h4 style="color:orange">Just you </h4>
        
           <%= image_tag("talk.jpg", :width => 800, :height => 450,)  %>
          <h4>What is your Goal?</h4>
          <div class="list">
          <li>  What is your goal in Lord? </li>
          <li> What would want to be in the Kingdom of the Lord? </li>
          <li> What kind of versal you want to be in the house of the Lord?</li>
          <h5>These question are yours to answer.</h5>
          </div>
          <div class="words">
          <p>
             Generally speaking, who wouldn’t like to see the Lord? everyone that converted would like to go to heaven and see the Lord, that’s a common goal. Many people that call themselves christian doesn’t realize or know just being converted is not enough, it is true the good word says “come as you are”, but its also says “take up your cross daily and follow me”. A christian lifestyle  should not be easy. It was not easy for Christ, so it shouldn’t be for you neither as His follower. As servant of God you should pray to be a servel of honor in the of the Lord. An instrument that please Him,not one of scandle but of peace. When you church you should not a vessel of dishonor because it’s only a mission, and  when your mission is finished you done. You should not find yourself in the group that work for themselves not for the Lord. 
             <br>
             <span style="color:orange;">
             Living your life is to live for the Lord,</span> your daily job is to examine yourself and making sure whatever you do please the God. The moment your accept ahaim as your savior your life is no longer yours it belongs to Him and Him alone. You need to stay close to Him, communicate with Him. John 15:5<span style="color:red;"> I am the Vine,ye are the branches: He that abideth in me, I in him, the same beareth much fruit: for apart from me ye can do nothing.</span> That explain for to take advantage of it , Jesus is suggesting us to choose life, so why not? Knowing that you have the chance to reign with Him someday or to be in the group that will praise Him forever and ever, why not listen to His words. In the book of Proverb 3:18 She is a tree of life to them that lay hold upon her: And happy is every one that retaineth her. We must learn to eat in the tree of life, we need to learn to retain to the tree of life. What happened when you in in the tree of life, well” you shall be like a tree planted by the streams of water, that bringeth forth its fruits in its season,whose leaf also doth not wither; and whatsoever he doeth shall prosper.” Psalms 1:3.
Remember that will only take place if you retain in The Lord Jesus Christ, which mean you have to suffer, you can’t do what please you. Your life is not your own.  </p></div>
<strong>
<p>1 corinthians 6:19<br>
KNOW YE NOT THAT YOUR BODY IS THE TEMPLE OF THE HOLY SPIRIT WHICH IS IN YOU, WHICH YE HAVE FROM GOD? AND YE ARE NOT OF YOUR OWN. </strong>

          </p>

           </div>
          </div>
          <div class="row">
    <div class="col m3.5" style="margin-top:2em;">
          <%= image_tag("road1.jpg", :width => 300, :height => 450,)  %>
          </div>

    <div class="col s7" style="margin-top:55px;">
      <h3>
Is it about you , or is really for God?</h3>
        
        <p>Let your light so shine before men, that they may see your good works, and glorify your Father which is in heaven.
        Whosoever therefore shall break one of these least commandments, and shall teach men so, he shall be called the least in the kingdom of heaven: but whosoever shall do and teach them, the same shall be called great in the kingdom of heaven.<br>Blessed are they which do hunger and thirst after righteousness: for they shall be filled.Ye are the salt of the earth: but if the salt have lost his savour, wherewith shall it be salted? it is thenceforth good for nothing, but to be cast out, and to be trodden under foot of men.</p>
        <p> DO IT FOR GOD. </p>


      </div>

    </div>
  </div>
<center>
<button>
      <a href="https://thenewsatchurch.herokuapp.com/"> You want to see more go to our site.</a>
    </button>
    </center>

